@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Tenor+Sans&display=swap");

@import url("./moviegallery.scss");

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin margins($margin...) {
  margin: $margin;
}

@mixin padding($padding...) {
  padding: $padding;
}

@mixin borders($border...) {
  border: $border;
  outline: none;
}

@mixin displays($display...) {
  display: $display;
}

@mixin aligning($align-items...) {
  align-items: $align-items;
}

@mixin fonts($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}
