body {
  margin: 0;
  width: 100%;
}

.footer-container {
  width: 100%;
  height: 120px;
  bottom: 0;
  position: fixed;
  left: 0;
  background-color: #19a7ce;
  box-shadow: 0 2px 4px 0 rgba(242, 238, 238, 0.6);

  .left-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: bottom;
  }

  .footer-wrapper {
    padding: 3% 5% 0 8%;
  }

  .right-footer {
    // align-items: center;
    width: 15%;
    padding: 2% 3% 1% 40%;
    margin-left: 0%;
  }
}
