html,
body {
  margin: 0%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer-container {
  margin-top: auto;
}

.footer-wrapper {
  background-color: #146c94;
  color: #f6f1f1;
  padding: 10px;
  text-align: center;
  height: 20vh;
  width: 100%;
  line-height: 2;

  .left-footer,
  .right-footer {
    width: 20%;
  }

  .left-footer {
    float: left;
  }
  .thefooter-wrapper span {
    display: inline;
  }
  .thefooter-wrapper a {
    text-decoration: none;
    color: #f6f1f1;
  }

  .right-footer {
    float: right;
  }
}
.right-email a {
  font-size: 30px;
  color: #f6f1f1;
}
