body {
  margin: 0;
}

.top-header-container {
  color: #f6f1f1;
  padding: 40px;

  .header-title-wrapper {
    @include margins(40px 40px 40px 240px);
    font-size: 36px;
    height: 100%;
  }
}

.pic-name-msg-container {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  @include margins(40px 40px 40px 240px);

  #darkbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .top-header-container {
    .header-title-wrapper {
      font-size: 28px;
    }
  }

  .pic-name-msg-container {
    .text-container2 {
      font-size: 24px;
    }
  }
}

.text-container-wrapper {
  padding-left: 10%;
}
.text-container2 {
  width: 28vw;
  font-size: 28px;
  padding: 7px;
}
