body {
  margin: 0;
  height: 100%;
}

.top-header-container {
  @include displays(flex);
  @include aligning(center);
  flex-direction: column;
  margin: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #f6f1f1;

  .header-title-wrapper {
    padding-top: 30px;
    font-size: 36px;
    margin: 40px;
  }
}
.pic-name-msg-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  #duck {
    @include margins(2%, 0, 2%, 25%);
    max-width: 100%;
    width: 80%;
    border-radius: 1%;
    border: 1px solid #146c94;
  }
}

.text-container-wrapper {
  padding-left: 10%;
}
.text-container1 {
  width: 28vw;
  font-size: 34px;
  padding: 7px;
}

.text-container2 {
  font-size: 24px;
  padding: 7px;
}

// #digialfiberspic {
//   background-attachment: fixed;
//   background-position: center;
//   background-size: cover;
//   min-height: 100px;
//   filter: grayscale(75%);
// }
