.movie-card {
  padding-top: 15px;
  margin: 5px;
}

.movie-info {
  font-size: 16px;
  text-align: left;

  h3 {
    text-align: left;
  }
}

.network-label {
  text-align: left;
  width: 100px;
  margin: 0;
}

.movie-gallery {
  margin: 20px;
}

.select-genres {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 18px;
}

// @media only screen and (min-width: 768px) {
//   .movie-gallery {
//     width: 100%;
//     max-width: 768px;
//     margin: 0 auto;
//     padding: 0 16px;
//   }

//   .movie-card {
//     width: calc(33.33% - 12px);
//     margin-right: 12px;
//     margin-bottom: 24px;
//   }

//   .movie-card:nth-child(3n) {
//     margin-right: 0;
//   }

//   .network-label {
//     font-size: 12px;
//   }

//   .select-genres {
//     width: 100%;
//     margin-bottom: 24px;
//   }
// }

// @media only screen and (min-width: 768px) {
//   .movie-gallery-slide {
//     max-width: 50%;
//   }
// }

// @media only screen and (min-width: 480px) {
//   .movie-card {
//     width: 100%;
//     margin-right: 0;
//     margin-bottom: 24px;
//   }

//   .network-label {
//     font-size: 12px;
//   }

//   .react-slideshow-container {
//     margin-bottom: 24px;
//   }
// }
