.navbar-container {
  margin: 0;
  height: 150px;
  width: 100%;
  background-color: #19a7ce;
  box-shadow: 0 2px 4px 0 rgba(242, 238, 238, 0.6);
  z-index: 1;
  position: relative;

  .left-nav {
    display: flex;
    align-items: center;

    .title-wrapper {
      padding: 2% 0 0 10%;
      display: flex;
      flex-direction: column;
    }
    .name-title {
      font-size: 36px;
    }
    .class-title {
      margin-top: 5px;
      font-size: 23px;
    }
  }
  .right-nav {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
    padding: 6% 5% 1% 40%;
    margin-left: 0%;
  }
}
