// body {
//   margin: 0;
//   height: 100%;
// }

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.carousel__item {
  flex-shrink: 0;
  width: 300px;
  height: 200px;
  margin-right: 10px;
  background-color: #ccc;
  border-radius: 5px;
}

.carousel__item:last-child {
  margin-right: 0;
}

.carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.carousel__controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 24px;
}

.carousel__controls button {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel__controls button:hover {
  transform: scale(1.2);
}

.carousel__controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
