.page-subnav {
  display: flex;
}

.show-cover {
  figure {
    margin: 0;
    padding: 5vh 0 0 4vw;
    .follow-button {
      position: absolute;
    }
  }
}

.follow-button {
  padding-left: 4vw;
  padding-bottom: 100px;
}
.follow-button button {
  @include width-height(200px, 30px);
  background-color: rgb(62, 111, 62);
  border-radius: 5px;
  color: #f6f1f1;
  font-size: 15px;
}

.movie-info {
  width: 100%;
  p {
    margin-left: 2vw;
    text-align: left;
  }
}

.form-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-review label {
  font-size: 1.5rem;
}

.form-reivew textarea {
  font-size: 0.5rem;
  width: 100%;
  max-width: 400px;
  height: 200px;
  resize: vertical;
}

.form-review button[type="submit"] {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #146c94;
  color: #f6f1f1;
  font-size: 1rem;
  cursor: pointer;
  :hover {
    background-color: black;
  }
}

#tvmazeimages {
  width: 200px;
  height: 280px;
  border-radius: 5px;
}
