.page-subnav {
  flex-direction: row;
  list-style: none;
}

.page-subnav ul {
  display: flex;
  list-style: none;
}

.show-cover {
  @include width-height(100%, 100%);
  display: flex;
}
#tvmazeimages {
  width: 200px;
  height: 280px;
  border-radius: 5px;
}
.follow-button button {
  @include width-height(200px, 30px);
  background-color: rgb(39, 109, 39);
  border-radius: 5px;
  color: #f6f1f1;
  font-size: 15px;
}

.show-info p {
  @include width-height(100vh, 100%);
}
