@import "./assets/scss/index.scss";
@import "./assets/scss/common.scss";
@import "./assets/scss/footer.scss";
@import "./assets/scss/navbar.scss";
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Tenor+Sans&display=swap");

.body {
  margin: 0;
}

.top-header-container {
  margin: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #030303;
  position: relative;
  z-index: 1;
  box-shadow: rgba(44, 98, 112, 0.3) 0px 20px 30px,
    rgba(0, 0, 0, 0.22) 0px 15px 22px;

  .header-title-wrapper {
    padding-top: 30px;
    text-align: center;
    font-size: 36px;
  }
}
.pic-name-msg-container {
  display: flex;
  flex-direction: row;

  .f-l-name-wrapper {
    margin-top: 12%;
    margin-left: 2%;
    font-size: 24px;
  }
  .msg-wrapper {
    margin-top: 18%;
    font-size: 14px;
  }
}

img {
  max-width: 100%;
  width: 25%;
  border-radius: 50%;
  margin: 2% 0 2% 25%;
}

//MOVIE CONTAINER
.movie-container {
  @include width-height(10%, 100px);
  display: flex;
  background-color: #ffffff;
  z-index: -1;
  box-shadow: rgba(44, 98, 112, 0.3) 0px 20px 30px,
    rgba(0, 0, 0, 0.22) 0px 15px 22px;

  .movie-wrapper {
    display: flex;
  }

  //IMAGES
  .circle1 {
    @include width-height(55%, 55%);
    background-image: url("./images/action-movie.webp");
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: 0% 150%;
    // position: absolute;
    // z-index: -1;
    // top: 490px;
    // left: 100px;
  }

  .circle2 {
    @include width-height(40%, 40%);
    background-image: url("./images/carrie.png");
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: 50% 50%;
    // position: relative;
    // z-index: -1;
    // top: 120px;
    // left: 890px;
  }

  .circle3 {
    @include width-height(40%, 40%);
    background-image: url("./images/clueless.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: 50% 50%;
    // position: absolute;
    // z-index: -1;
    // top: 190px;
    // left: -190px;
  }

  .circle4 {
    @include width-height(40%, 40%);
    border-radius: 0%;
    background-image: url("./images/seventiesshow.webp");
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: 50% 50%;
    // position: absolute;
    // z-index: -1;
    // top: 180px;
    // left: 630px;
  }

  .circle5 {
    @include width-height(40%, 40%);
    // border-radius: 50%;
    background-image: url("./images/starborn.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: 50% 50%;
    // position: absolute;
    // z-index: -1;
    // top: 460px;
    // left: 850px;
  }
  .circle6 {
    @include width-height(40%, 40%);
    // border-radius: 50%;
    background-image: url("./images/aquaman.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: 50% 50%;
    // position: absolute;
    // z-index: -1;
    // top: 180px;
    // left: 110px;
  }
}
